.header-container{
    width: 100vw;
    position: fixed;
    z-index: 99;
    height: 55.05px;
    display: flex;
    align-items: center;
}

.header{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header a{
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    color: white;
}

.logo{
    font-size: 2.3rem;
}

.mobile-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-toggle{
    display: none;
}

.nav-list a{
    margin-left: .7em;
    font-size: 1.1rem;
    box-shadow: none;
}

.nav-list a:first-child{
    margin-left: 0px;
}

.nav-list a:hover{
    -moz-box-shadow: 0 4px 0px -2px white;
    -webkit-box-shadow: 0 4px 0px -2px white;
    box-shadow: 0 4px 0px -2px white;
}

@media screen and (max-width: 1200px){
    .header{
        padding: 0 3%;
    }
}

@media screen and (max-width: 600px){
    .header-container.active{
        height: 100vh;
    }

    .header{
        flex-direction: column;
        height: 100%;
    }

    .nav-toggle{
        display: flex;
        background-color: rgb(200, 0, 0, 0);
        border: none;
        cursor: pointer;
        transition: all .3s ease-in-out;
    }

    .nav-toggle img{
        max-width: 30px;
        border: 2px solid white;
        border-radius: 50%;
        background-color: none;
    }

    .nav-list.active{
        display: none;
    }

    .nav-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100vw;
    }

    .nav-list a{
        margin-left: 0px;
        text-align: center;
        margin: 20px 0;
        font-size: 20px;        
    }

    .nav-list a:last-child{
        margin-bottom: 10px;
    }
}