.header{
    width: 100vw;
    background-color: #41007A;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    transform: translate3d(0,0,0);
    z-index: 9999;
}

.header a{
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    padding: 0px;
}

.mobile-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo{
    color: white;
    font-size: 35px;
    transition: all .3s ease-in-out;
}

.logo:hover{
    color: rgb(18,15,17);
}

.nav-toggle{
    display: none;
}

.nav-list a{
    margin-left: 10px;
    font-size: 16px;
    color: white;
    box-shadow: none;
}

.nav-list a:first-child{
    margin-left: 0px;
}

.nav-list a:hover{
    -moz-box-shadow: 0 4px 0px -2px white;
    -webkit-box-shadow: 0 4px 0px -2px white;
    box-shadow: 0 4px 0px -2px white;
    color: white;
}


@media screen and (max-width: 400px){
    .header{
        flex-direction: column;
    }

    .header.active{
        height: 100vh;
    }

    .nav-toggle{
        display: flex;
        background-color: #41107A;
        border: none;
        cursor: pointer;
        transition: all .3s ease-in-out;
    }

    .nav-toggle:hover{
        transform: rotate(10deg);
    }

    .nav-toggle.active{
        transform: rotate(45deg);
    }

    .nav-toggle img{
        max-width: 30px;
        border: 2px solid white;
        border-radius: 50%;
        background-color: none;
    }

    .nav-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .nav-list.active{
        display: none;
    }

    .nav-list a{
        margin-left: 0px;
        text-align: center;
        margin: 20px 0;
        font-size: 20px;        
    }

    .nav-list a:last-child{
        margin-bottom: 10px;
    }
}