.introduction{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding-right: 1rem;
}

.introduction span{
    transition: all .3s ease-in-out;
}

.introduction h1{
    line-height:1;
    font-size: 3rem;
}

.introduction p{
    font-family: 'Montserrat', sans-serif;
}

.introduction-sub-title{
    line-height: 1.3;
    font-size: 1.5rem;
    font-weight: 500;
}

.introduction-description{
    font-size: 1.25rem;
    line-height: 1.5;
    padding: 0.8rem 0;
    padding-top: 0.2rem;
    font-weight: 300;
}

.introduction a{
    width: max-content;
}

.introduction-button{
    font-family: 'Kanit', sans-serif;
    width: fit-content;
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    background-color: white;
    cursor: pointer;
    border: none;
    padding: 1rem;
    transition: all .3s ease-in-out;
}

.introduction-button:hover{
    background-color: black;
    color: white;
}